body{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}
.sigup{
  position: absolute;
  right: 45%;
}
.sigbtn{
  position: absolute;
  right: 40%;
}
.lbtn{
  position: absolute;
  left:40%;
}